
  footer{
    background: #faf5f5;
    padding: 20px 0;
  }
  
  .footer_container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    color: #000;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo p{
    width: 180px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .social_media{
    margin: 20px 150px;
  }
  
  .social_media a{
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
    transition: .6s;
  }
  
  .social_media a:hover{
    color: gold;
  }
  h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }