* {
    margin: 0;
  }
  
  body {
    color: white;
    background-color: #2b2b5f;
    font-family: Arial, sans-serif;
    line-height: 2;
  }
  
  img {
    width: 100%;
  }
  
  h1,
  h2 {
    font-weight: normal;
  }
  
  h1,
  h2,
  p {
    letter-spacing: 1px;
  }
  
  section {
    color: black;
    background-color: rgb(165, 162, 162);
    padding: 75px 30px;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  header {
    background-image: url(https://images.pexels.com/photos/627823/pexels-photo-627823.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    position: relative;
    z-index: 1;
  }
  
  .header_text {
    text-align: center;
    color: #3a3a9d;
  
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    padding: 30px;
  }
  
  .header_text p {
    font-size: 1em;
    margin-bottom: 50px;
  }
  
  .header_text h1 {
    line-height: 1.5;
  }
  
  #header_button {
    padding: 25px;
    background-color: #3a3a9d;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    transition: padding 0.5s;
  }
  
  #header_button:hover {
    padding: 30px;
  }

  #header_button a {
    padding-top: 60px;
  }
  #header_button a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #header_button a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  #main_menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: #2b2b5f;
    display: flex;
    list-style-type: none;
  }
  
  .menu_link {
    color: white;
    display: block;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    font-size: 0.65em;
  }
  
  #angebote {
    border-top: 1px dashed #84c3ff;
  }
  
  #angebote h2 {
    color: #84c3ff;
  }
  
  .flex_list {
    padding: 0;
    list-style-type: none;
  }
  
  .flex_list li {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #84c3ff;
    margin-bottom: 10px;
  }
  
  .flex_list li:hover {
    color: white;
    background-color: #84c3ff;
    border: 1px solid #84c3ff;
  }
  
  #gallerie {
    color: white;
  }
  
  #gallerie h2 {
    color: #ff8bc5;
  }
  
  footer {
    padding: 25px;
    text-align: center;
    /* border-top: 1px dashed #ff8bc5; */
  }
  
  .box {
    position: relative;
  }
  
  .grid_container {
    margin-top: 20px;
  }
  
  @media screen and (min-width: 500px) {
    #main_menu {
      background: linear-gradient(
        to right,
        rgba(43, 43, 95, 1) 0%,
        rgba(43, 43, 95, 1) 50%,
        rgba(43, 43, 95, 0) 100%
      );
    }
  }
  
  @media screen and (min-width: 660px) {
    section {
      background-color: #2b2b5f;
      padding: 75px;
      /* border-top: 1px dashed #ff8bc5; */
    }
  
    .header_text h1 {
      font-size: 3em;
    }
  
    p {
      font-size: 1.25em;
    }
  
    #header_button {
      font-size: 1em;
    }
  
    .flex_container {
      display: flex;
    }
  
    .flex_item {
      margin-right: 10px;
    }
  
    .grid_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      line-height: 0;
    }
  
    .grid_item {
      grid-column: span 6;
    }
  }
  
  @media screen and (min-width: 900px) {
    .grid_item {
      grid-column: span 4;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .grid_container {
      width: 80%;
      margin: 20px auto 0 auto;
    }
  }